trigger:
  branches:
    include:
    - develop
    - master

stages:
- stage: BUILD
  jobs:
  - job: BuildJobANDROID
    variables:
      java_home: /usr/lib/jvm/temurin-17-jdk-amd64
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self
      submodules: recursive
    
    - task: DownloadSecureFile@1
      name: appReturns_jks
      displayName: 'Download appReturns_jks'
      inputs:
        secureFile: 'android_appReturns.jks'

    - task: DownloadSecureFile@1
      name: key_properties
      displayName: 'Download key_properties'
      inputs:
        secureFile: 'android_key.properties'

    - task: DownloadSecureFile@1
      name: google_service
      displayName: 'Download google_service'
      inputs:
        secureFile: 'android_google-settings.json'

    - script: |
        mv $(appReturns_jks.secureFilePath) /tmp/appReturns.jks
        mv $(key_properties.secureFilePath) android/key.properties
      displayName: 'Prepare security files'

    - task: FlutterInstall@0
      inputs:
        channel: 'stable'
        version: 'custom'
        customVersion: $(FLUTTER)

    - task: FlutterBuild@0
      inputs:
        target: 'aab'
        projectDirectory: '$(Build.SourcesDirectory)'
        buildNumber: '$(Build.BuildID)'
        apkTargetPlatform: 'android-arm64'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.SourcesDirectory)/build/app/outputs/bundle/release/app-release.aab'
        ArtifactName: 'dartwing-mobile-aab'
        publishLocation: 'Container'

    - task: GooglePlayRelease@4
      inputs:
        authType: 'JsonFile'
        serviceAccountKey: '$(google_service.secureFilePath)'
        applicationId: 'com.opensoft.dartwing'
        bundleFile: '$(Build.SourcesDirectory)/build/app/outputs/bundle/release/app-release.aab'
        track: 'internal'
        releaseName: '$(Build.BuildID)'
      continueOnError: true
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/develop'))
      displayName: "Google Release to internal"

    - task: GooglePlayRelease@4
      inputs:
        authType: 'JsonFile'
        serviceAccountKey: '$(google_service.secureFilePath)'
        applicationId: 'com.opensoft.dartwing'
        bundleFile: '$(Build.SourcesDirectory)/build/app/outputs/bundle/release/app-release.aab'
        track: 'production'
        releaseName: '$(Build.BuildID)'
      continueOnError: true
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
      displayName: "Google Release to Production"

    - task: FlutterBuild@0
      inputs:
        target: 'apk'
        projectDirectory: '$(Build.SourcesDirectory)'
        buildNumber: '$(Build.BuildID)'
        apkTargetPlatform: 'android-arm64'

    - script: | 
        cp $(Build.SourcesDirectory)/build/app/outputs/apk/release/*.apk $(build.artifactstagingdirectory)
        find $(build.artifactstagingdirectory) -depth -name "dartwing-mobile*.apk" -exec sh -c 'f="{}"; mv -- "$f" "${f%.apk}-$(Build.BuildId).apk"' \;
        
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(build.artifactstagingdirectory)'
        ArtifactName: 'dartwing-mobile-apk'
        publishLocation: 'Container'
      