trigger:
  branches:
    include:
    - develop
    - master

resources:
  repositories:
    - repository: dartwing
      name: DartWing/DartWing
      type: git

stages:
- stage: BUILD
  jobs:
  - job: BuildJobANDROID
    variables:
      java_home: /usr/lib/jvm/temurin-17-jdk-amd64
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: dartwing
      path: s/lib/dart_wing
    - checkout: self
      submodules: recursive
      path: s
      workspaceRepo: true
    
    - task: DownloadSecureFile@1
      name: appReturns_jks
      displayName: 'Download appReturns_jks'
      inputs:
        secureFile: 'android_appReturns.jks'

    - task: DownloadSecureFile@1
      name: key_properties
      displayName: 'Download key_properties'
      inputs:
        secureFile: 'android_key.properties'

    - task: DownloadSecureFile@1
      name: google_service
      displayName: 'Download google_service'
      inputs:
        secureFile: 'android_google-settings.json'

    - script: |
        mv $(appReturns_jks.secureFilePath) /tmp/appReturns.jks
        mv $(key_properties.secureFilePath) android/key.properties
        echo $(Build.Repository.LocalPath)
      displayName: 'Prepare security files'

    - task: FlutterInstall@0
      inputs:
        channel: 'stable'
        version: 'custom'
        customVersion: $(FLUTTER)

    - task: FlutterBuild@0
      inputs:
        target: 'aab'
        projectDirectory: '$(Build.Repository.LocalPath)'
        buildNumber: '$(Build.BuildID)'
        apkTargetPlatform: 'android-arm64'

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.Repository.LocalPath)/build/app/outputs/bundle/release/app-release.aab'
        ArtifactName: 'dartwing-mobile-aab'
        publishLocation: 'Container'

    - task: GooglePlayRelease@4
      inputs:
        authType: 'JsonFile'
        serviceAccountKey: '$(google_service.secureFilePath)'
        applicationId: 'com.opensoft.dartwing'
        bundleFile: '$(Build.Repository.LocalPath)/build/app/outputs/bundle/release/app-release.aab'
        track: 'internal'
        isDraftRelease: true
        releaseName: '$(Build.BuildID)'
      continueOnError: true
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/develop'))
      displayName: "Google Release to internal"

    - task: GooglePlayRelease@4
      inputs:
        authType: 'JsonFile'
        serviceAccountKey: '$(google_service.secureFilePath)'
        applicationId: 'com.opensoft.dartwing'
        bundleFile: '$(Build.Repository.LocalPath)/build/app/outputs/bundle/release/app-release.aab'
        track: 'production'
        releaseName: '$(Build.BuildID)'
      continueOnError: true
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
      displayName: "Google Release to Production"

    - task: FlutterBuild@0
      inputs:
        target: 'apk'
        projectDirectory: '$(Build.Repository.LocalPath)'
        buildNumber: '$(Build.BuildID)'
        apkTargetPlatform: 'android-arm64'

    - script: | 
        cp $(Build.Repository.LocalPath)/build/app/outputs/apk/release/*.apk $(build.artifactstagingdirectory)
        find $(build.artifactstagingdirectory) -depth -name "dartwing-mobile*.apk" -exec sh -c 'f="{}"; mv -- "$f" "${f%.apk}-$(Build.BuildId).apk"' \;
        
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(build.artifactstagingdirectory)'
        ArtifactName: 'dartwing-mobile-apk'
        publishLocation: 'Container'

  - job: BuildJobIOS
    pool:
      vmImage: macos-13

    steps:
    - checkout: dartwing
      path: s/lib/dart_wing
    - checkout: self
      submodules: recursive
      path: s
      workspaceRepo: true

    - task: FlutterInstall@0
      inputs:
        channel: 'stable'
        version: 'custom'
        customVersion: $(FLUTTER)
      enabled: true

    - task: InstallAppleCertificate@2
      inputs:
        certSecureFile: 'ios_appioscer.p12'
        certPwd: '$(IOS_CERPASSWD)'
        keychain: 'temp'
        deleteCert: true
    
    - task: InstallAppleProvisioningProfile@1
      displayName: "Install Apple Mobile Provisioning Profile"
      inputs:
        provisioningProfileLocation: "secureFiles"
        provProfileSecureFile: "ios_dartwing_mobile.mobileprovision"
        removeProfile: true
        
    - task: DownloadSecureFile@1
      name: AuthKey_SSF5Y9HTD9
      displayName: 'Download key.properties'
      inputs:
        secureFile: 'ios_AuthKey_SSF5Y9HTD9.p8'

    - script: |
        # pip install
        pip3 install codemagic-cli-tools
        # export environments
        export APP_STORE_CONNECT_PRIVATE_KEY=`cat $(AuthKey_SSF5Y9HTD9.secureFilePath)`
        # xcode   use profile
        cd $(Build.SourcesDirectory)
        xcode-project use-profiles
        # flutter packages
        /Users/runner/hostedtoolcache/Flutter/$(FLUTTER)/macos/flutter/bin/flutter packages pub get
        # find Podfile
        find . -name 'Podfile' -execdir pod install
        # flutter build
        /Users/runner/hostedtoolcache/Flutter/$(FLUTTER)/macos/flutter/bin/flutter build ipa --release --export-options-plist=/Users/runner/export_options.plist
      displayName: 'Build application'
        
    - script: |
        # export environments
        export APP_STORE_CONNECT_PRIVATE_KEY=`cat $(AuthKey_SSF5Y9HTD9.secureFilePath)`
        # app store connect
        app-store-connect publish --path $(find $(pwd) -name "*.ipa")
        # keychain
        keychain use-login
      displayName: 'Public application'
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

    - task: CopyFiles@2
      inputs:
        contents: '**/*.ipa'
        targetFolder: '$(build.artifactStagingDirectory)'
        OverWrite: true

    - task: PublishBuildArtifacts@1
      inputs:
        artifactName: 'dartwing-mobile-ios'